@import "../../../assets/styles/wevedo.scss";

.section {
  color: white;
  margin-top: 75px;
  background-size: cover;
  background-position: center;
}

.section-header-full {
  height: calc(100vh - 75px);
}

.section-header-half {
  height: calc(60vh - 75px);
}

.privacy {
  background: url(../../../assets/images/common-header.png);
}
