.enter-business-screen {
  .side-background {
    overflow: hidden;
    
    &-image {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      min-width: 100%;
      min-height: 100vh;
      height: 100%;
      object-fit: cover;
    }
  }

  .welcome-block {
    position: absolute;
    left: 75px;
    bottom: 100px;
  
    &__title {
      font: 3rem 'Butler Black', serif;
      color: white;
    }
  
    &__subtitle {
      font: 2rem 'Butler Bold', serif;
      color: white;
    }

    &__divider {
      width: 60px;
      height: 1px;
      margin: 30px 0;
      background-color: white;
    }
  }
  
  &_right {
    padding: 70px;
  }
}
