* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
    font-size: 11.8px;
    font-family: 'Proxima Nova';
}

h1 {
	font-family: 'Butler Black';
}

h2,h3,h4,h5,h6 {
	font-family: 'Butler Bold';
}