.mainpage-bg {
	background: url(../images/main-page1.png);
	background-size: cover;
	background-position: center;
	margin-top: 75px;
	height: calc(100vh - 75px);
	color: white;
	h1 {
		font-size: 3rem;
		letter-spacing: 5px;
		line-height: 70px;
		text-shadow: 0px 2px 5px #222;
	}
	h4 {
		font-size: 1rem;
		line-height: 2;
		letter-spacing: 5px
	}
}

.howitworks {
	margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  hr {
    width: 65px;
    height: 3px;
    background-image: linear-gradient(30deg, #ffafbd, #ffc3a0);
    border: 0;
  }
  .howitworks-boxes { 
  	margin: 80px 0;
  	.col {
  		div {
  			border: 1px solid $gray-300;
  			border-radius: 5px;
  			padding: 50px 20px;
  			transition: all .3s ease;
  			&:hover {
					border-color: #ffafbd;
					box-shadow: 0px 8px 20px $gray-400;
  			}
  			p {
  				font-size: 14px;
  				font-weight: bold;
  			}
  		}
  	}
  }
  .howitworks-img {
  	margin-top: 80px;
  	img { width: 100% }
  }
}
  // .col-first {
  //     height:310px;
  //     width: 320px;
  //     margin: 40px;
  //     border-radius: 5px;
  //     border: solid 1px #9b9b9b;
  // }

  // h1{
  //     text-align: center;
  //     font-size:35px;
  //     text-transform : uppercase;
  // }
