.mainpage-bg {
	background: url(../images/main-page1.png);
	background-size: cover;
	background-position: center;
	margin-top: 75px;
	height: calc(100vh - 75px);
	color: white;
	h1 {
		font-size: 3rem;
		letter-spacing: 5px;
		line-height: 70px;
		text-shadow: 0px 2px 5px #222;
	}
	h4 {
		font-size: 1rem;
		line-height: 2;
		letter-spacing: 5px
	}
}