@font-face {
    font-family: Proxima Nova;
    font-style: normal;
    src : url(../Font/ProximaNova-Regular.otf) format('opentype'); 
}
@font-face {
    font-family: Proxima Nova Bold;
    font-style: bold;
    src : url(../Font/ProximaNova-Bold.otf) format('opentype'); 
}

@font-face {
    font-family: Butler Black;
    src: url(../Font/Butler_Black.otf) format("opentype");   
}

@font-face {
    font-family: Butler Bold;
    src: url(../Font/Butler_Bold.otf) format("opentype");
}