@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../../../../../assets/styles/variables';

.image-upload {
  &__form {
    min-height: 400px;
  }

  &__container {
    cursor: pointer;

    &:hover {
      border-color: #c9cfd6;
      background-color: #ecf1f9;
    }
  }

  &__image {
    &_small {
      width: 50px;
      height: 45px;
      margin-left: 75px;
    }
  }

  &__title {
    font-size: 0.9rem;
  }
}

.preview-zone {
  &__photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
  }
}

@include media-breakpoint-down(md) {
  .image-upload {
    &__image {
      &_small {
        margin-left: 0;
      }
    }
  }
}
