@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../../../assets/styles/variables';

.enter-business-screen {
  .side-background {
    overflow: hidden;

    &-image {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      // min-height: 100vh;
      height: 100%;
      object-fit: cover;
    }
  }

  .welcome-block {
    position: absolute;
    bottom: 0;

    &__title {
      font: 3rem 'Butler Black', serif;
      color: white;
    }

    &__subtitle {
      font: 2rem 'Butler Bold', serif;
      color: white;
    }

    &__divider {
      width: 60px;
      height: 1px;
      margin: 30px 0;
      background-color: white;
    }

    &__text {
      width: 75%;
      font: 1rem 'Proxima Nova', sans-serif;
      color: white;
      line-height: 2rem;
    }
  }

  &_right {
    padding: 70px;
  }
}

@include media-breakpoint-down(sm) {
  .enter-business-screen {
    .welcome-block {
      &__title {
        font-size: 2rem;
      }

      &__subtitle {
        font-size: 1.5rem;
      }

      &__divider {
        margin: 15px 0;
      }

      &__text {
        font-size: 0.8rem;
        line-height: 1.5rem;
      }
    }

    &_right {
      padding: 20px;
    }
  }
}
