@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import '../../assets/styles/variables';

.promoted-suppliers {
  &__box {
    position: relative;
    height: 350px;
    overflow: hidden;
  }

  &__avatar {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    object-fit: contain;
  }
}

.overlayed {
  position: relative;
  cursor: pointer;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    background-image: linear-gradient(30deg, #ffafbd, #ffc3a0);
  }

  &:hover {
    .overlay {
      opacity: 0.85;
    }
  }
}

@include media-breakpoint-down(xs) {
  .promoted-suppliers {
    &__box {
      height: 150px;
    }
  }
}
