.search-result {
  display: none;
}

.search-result-active {
  display: block;
}

.header__unread-message-badge {
  position: absolute;
  top: 0;
  right: 0;
}

.region-search-basement {
  display: flex;
  justify-content: space-between;
}
