@import '../../../assets/styles/wevedo.scss';

.section {
  color: white;
  margin-top: 75px;
  background-size: cover;
  background-position: center;
}

.section-header-full {
  height: calc(100vh - 75px);
}

.section-header-half {
  height: calc(60vh - 75px);
}

.venues {
  background: url(../../../assets/images/venues-bg.png);
}

.venues-results {
  margin: 80px auto;

  .results-filters {
    b {
      font-size: 13px;
    }
  }

  .results-data {
    img {
      width: 100%;
      border-radius: .25rem;
    }

    h4 {
      font-family: 'Proxima Nova';
      font-size: 1rem;
    }

    h5 {
      font-family: 'Proxima Nova Bold';
      font-size: 1rem;
      letter-spacing: 0;
    }

    .results-data-location {
      i {
        color: $wevedo;
      }

      color: $gray-600;
    }

    b {
      font-size: 13px;
    }
  }
}

.findseparator-sm {
  height: 120px;
  margin: 0;

  form {
    margin: 30px 100px;
  }
}
