@import '../../../assets/styles/variables';

.section {
  color: white;
  margin-top: 75px;
  background-size: cover;
  background-position: center;
}

.supplier-results {
  h4 {
    font-family: 'Proxima Nova Bold';
  }
  b {
    font-size: 14px;
    letter-spacing: 0.7px;
  }
  .supplier-results-side-box {
    background: $gray-200;
    border-radius: 0.3rem;
    padding: 50px;
  }
  .supplier-results-next-btn {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.modal-close-btn {
  position: absolute;
  color: $gray-600;
  right: 0;
  top: 0;
  margin: 15px;
  cursor: pointer;
  z-index: 9;

  &:hover {
    color: $gray-700;
  }
}

.carousel {
  &-image {
    height: 400px;
  }

  &-control-prev-icon,
  &-control-next-icon {
    filter: invert(100%);
  }
}
