@font-face {
    font-family: 'Proxima Nova Regular';
    src : local('Proxima Nova Regular'), url(./Font/ProximaNova-Regular.otf) format('otf'); 
}

@font-face {
    font-family: 'Butler Black';
    src: local('Butler Black'), url(./Font/Butler_Black.otf);   
}

@font-face {
    font-family: 'Butler Bold';
    src: local('Butler-Bold') , url(./Font/Butler_Bold.otf);
}

body {
    font-family: 'Proxima Nova Regular';
}
.Butler {
    font-family: 'Butler Black';
}
.Butler-bold {
    font-family: 'Butler-Bold';
}