@font-face {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 300;
    src : url(./Font/ProximaNova-Regular.otf) format('opentype'); 
}
@font-face {
    font-family: Proxima Nova;
    font-style: bold;
    src : url(./Font/ProximaNova-Bold.otf) format('opentype'); 
}

@font-face {
    font-family: Butler Black;
    src: url(./Font/Butler_Black.otf) format("opentype");   
}

@font-face {
    font-family: Butler Bold;
    src: url(./Font/Butler_Bold.otf) format("opentype");
}

body {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Butler Bold';
}

.navbar-wevedo {
	height: 80px;
	.nav-wevedo {
		letter-spacing: 1px;
	}
}