$black: #000;
$white: #fff;

// Gradient Color
$primary-dark: #ffafbd;
$primary-light: #ffc3a0;

$pink-light: #f8afff;
$pink-dark: #ffa0e1;

$violet-light: #beafff;
$violet-dark: #a0a2ff;

// Use for background, border and secondary text
$grey-1: #fffefe;
$grey-2: #f4f7fc;
$grey-3: #e5e5e5;
$grey-3: #dcdcdc;
$grey-4: #d1d1d1;
$grey-5: #d5d5d5;
$grey-6: #c2c2c2;
$grey-7: #898989;
$grey-8: #757575;
$grey-9: #555555;

$blue: #5782ff;
$light-blue: #4579e3;
$medium-blue: #3b5998;
$dark-blue: #052f99;

$light-red: #ff3753;
$medium-red: #e3454d;
$dark-red: #db4437;

$light-green: #0dd7a5;
$medium-green: #24e649;
$dark-green: #43d40a;

$orange: #e38445;

$yellow: #e3b145;
