// see http://maxvoltar.com/sandbox/font-smoothing/
@mixin font-smoothing {
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
