$lazyload-spinner-size: 30px;

@mixin lazyload {

  picture {
    position: relative;
    background-color: transparent;
    min-height: $lazyload-spinner-size; // avoid spinner outside container on firefox if no image is rendered

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      height: $lazyload-spinner-size;
      width: $lazyload-spinner-size;
      margin: (-$lazyload-spinner-size / 2) 0 0 (-$lazyload-spinner-size / 2);
      opacity: .5;
      border-left: 3px solid $heineken-green;
      border-right: 3px solid $heineken-green;
      border-bottom: 3px solid $heineken-green;
      border-top: 3px solid $green;
      border-radius: 100%;
      @include animate-keyframe(1s, rotation, infinite, $timing: ease-in-out, $direction: normal);
    }

    img {
      position: relative;
      z-index: 1;
    }
  }
}