///////////
// Link mixin
// To be used everywhere where link is needed.
// By default it will inherit the font size, line height and other styles by its wrapper unless specified otherwise
//

@mixin link($background: transparent, $color: inherit, $weight: normal, $decoration: none, $decoration-on: underline) {
  font-size: inherit;
  line-height: inherit;
  background-color: $background;
  color: $color;
  text-decoration: $decoration;
  font-weight: $weight;

  &:active,
  &:focus,
  &:hover {
    text-decoration: $decoration-on;

    // If color is not inherited, then darken the color by 5%
    @if $color != inherit {
      color: darken($color, 5%);
    }

  }

}