//////////
// mq media Queries
// https://gist.github.com/benfrain/2510308
// https://benfrain.com/inline-or-combined-media-queries-in-sass-fight/
// https://github.com/sass-mq/sass-mq

// define breakpoint screen-width
$screen-mobile: 480px;
$screen-mobile-min: $screen-mobile;

$screen-tablet: 768px;
$screen-tablet-min: $screen-tablet;

$screen-desktop: 992px;
$screen-desktop-min: $screen-desktop;

$screen-large-desktop: 1200px;
$screen-large-desktop-min: $screen-large-desktop;

$screen-mobile-max: ($screen-tablet-min - 1);
$screen-tablet-max: ($screen-desktop-min - 1);
$screen-desktop-max: ($screen-large-desktop-min - 1);

@mixin mq($breakpoint, $type: "screen") {

  $default-type: "all";
  $query: $default-type;

  @if $type != $default-type {
    $query: $type;
  }

  @if $breakpoint == "large-desktop" {
    $query: $query + " and (min-width: " + $screen-large-desktop-min + ")";
  } @else if $breakpoint == "desktop" {
    $query: $query + " and (min-width: " + $screen-desktop-min + ") and (max-width: " + $screen-desktop-max + ")";
  } @else if $breakpoint == "tablet" {
    $query: $query + " and (min-width: " + $screen-tablet-min + ") and (max-width: " + $screen-tablet-max + ")";
  } @else if $breakpoint == "mobile" {
    $query: $query + " and (max-width: " + $screen-mobile-max + ")";
  } @else if $breakpoint == "mobile-and-tablet" {
    $query: $query + " and (max-width: " + $screen-tablet-max + ")";
  } @else if $breakpoint == "desktop-and-large-desktop" {
    $query: $query + " and (min-width: " + $screen-desktop-min + ")";
  } @else if $breakpoint == "tablet-and-desktop-and-large-desktop" {
    $query: $query + " and (min-width: " + $screen-tablet-min + ")";
  }

  @media #{$query} {
    @at-root #{&} {
      @content;
    }
  }
}
