//categories scrollbar
@mixin verticalScrollbar($width, $track-color, $thumb-color, $button-color, $border-radius){
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: $width;
  }

  ::-webkit-scrollbar-button:start{
    background-color: $button-color!important;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }
  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: $border-radius;
  }
}

@mixin horizontalScrollbar($height, $track-color, $thumb-color, $border-radius){
  overflow-y: scroll;
  &::-webkit-scrollbar {
    height: $height;
  }
  &::-webkit-scrollbar-track {
    background: $track-color;
  }
  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: $border-radius;
  }
}
