@mixin invisible {
  visibility: hidden;
}

@mixin hidden($is_important: false) {
  @include invisible;
  @if $is_important == false {
    display: none;
  } @else {
    display: none !important;
  }
}

@mixin hide-text() {
  font: #{0 / 0} a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.do-not-display {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.hidden {
  @include hidden(true);

  &--mobile {
    @include susy-at($mobile) {
      @include hidden(true);
    }
  }

  &--tablet {
    @include susy-at($tablet) {
      @include hidden(true);
    }
  }

  &--desktop {
    @include susy-at($desktop) {
      @include hidden(true);
    }
  }
}
