.dashboard-messages-chat-input {
  input {
    font-size: 1rem !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.3rem !important;
  }

  button {
    width: 30%;
    max-width: 75px;
  }
}
